<html>
<head>
    <title>To-Do lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/base.css" media="screen">
</head>
<body>
    <div class="container">
    
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                        {{ form.text }}
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class='form-group has-error'>
                            <div class='help-block'>{{ form.text.errors }}</div>
                        </div>
                        {% endif %}
                    </form>
                 </div>
             </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script src="/static/list.js"></script>
</body>
</html>
